# Database
DATABASE_URL="postgresql://user:password@localhost:5432/yourdb?schema=public"

# JWT
JWT_SECRET="votre-secret-super-securise"
JWT_REFRESH_SECRET="votre-refresh-secret-super-securise-"

# Server
PORT=3000
NODE_ENV=development # development | production (Swagger est activé en development)
